*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

/* bag NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 2px 2px 30px black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-icon:hover{
    color: purple;
  }
  .logo-image {
    height: 100%;
    margin-right: 1rem;
    background-color: black;
  }
  
  .nav-links {
    display: flex;
    gap: 1.5rem;
    justify-content: space-around;
    width: 50%;
    margin-right: 1rem;

  }
  
  .nav-link {
    text-decoration: none;
    color: rgb(193, 193, 193);
    font-weight: 500;
    transition: color 0.3s ease;
    text-transform: uppercase;
    font-size: larger;
  }
  .nav-link:hover {
    text-decoration: underline;
  }
  .nav-link-bold.nav-link{
    border: 1px solid purple;
    margin-right: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .nav-link-bold.nav-link:hover{
    background-color: purple;
  }

  

/* FOOTER */

.footer {
  background-color: black;
  color: white;
  padding: 0.5rem;
  text-align: center;
  
}
.footer-links{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer-links a {
  color: white;
  text-decoration: none;
}
.footer-links a:hover{
  text-decoration: underline;
}
